.bodycontainer > table tr:first-of-type > td:first-of-type > img {
  display: none !important;
}

.bodycontainer > table tr:first-of-type > td:nth-of-type(2) > font {
  display: none !important;
}

/* adding a line to remove the gamail.com header */
@page { size: auto;  margin: 0mm; }
